# Git
.git
.gitignore
.pre-commit-config-yaml
.github

# Env
.env*

# CI
# 
main.py
requirements_dev.txt

# Docker
docker-compose.yml
Dockerfile
.docker
.dockerignore

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]


# Unit test / coverage reports
tests/
pytest.ini
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Sphinx documentation
docs/_build/
README.md

# Virtual environment
.thcltvenv

# VS Code
.vscode

#Volumes
static/
content/